
.fade-enter-active {
  transition: opacity 0.5s ease; 
}
.fade-enter {
  opacity: 0; 
}
.fade-leave-active {
  transition: opacity 0.5s ease; 
}
.fade-leave-to {
  opacity: 0;
}

.blur-rotate-fight-enter-active, .blur-rotate-fight-leave-active {
  transition: filter 0.5s ease, transform 0.5s ease, opacity 0.5s ease; 
}
.blur-rotate-fight-enter, .blur-rotate-fight-leave-to {
  filter: blur(10px); 
  transform: rotate(360deg); 
  opacity: 0; 
}


.continuous-rotate {
  animation: rotate 5s linear infinite; 
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bounce-enter-active {
  animation: bounce-in 0.5s;
}
.bounce-leave-active {
  animation: bounce-in 0.5s reverse;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}

debug{
  position: fixed!important;
  color:white;
  bottom:0px!important;
  z-index: 1000000!important;
}
  