.sephirot {
    position: fixed;
    bottom: 38%;
    left: 28%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .sephirot-magic {
    position: fixed;
    bottom: 38%;
    left: 28%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  .cloud {
    position: fixed;
    bottom: 32%;
    left: 24%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
  
  
  .cloud-magic {
    position: fixed;
    bottom: 30%;
    left: 23%;
    transform: translate(-50%, -50%);
    z-index: 4;
  }
  
  .aeris {
    position: fixed;
    bottom: 18%;
    left: 14%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .aeris-magic {
    position: fixed;
    bottom: 15%;
    left: 14%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  .enemy {
    position: fixed;
    bottom: 30%;
    right: 10%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .enemy-damage {
    position: fixed;
    bottom: 50%;
    right: 20%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .cloud-damage {
    position: fixed;
    bottom: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 5;
  }
  
  .aeris-damage {
    position: fixed;
    bottom: 30%;
    left: 15%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .sephirot-damage {
    position: fixed;
    bottom: 57%;
    left: 27%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .enemy-magic-receive {
    position: fixed;
    bottom: 30%;
    right: 10%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  
  
  .attack {
    position: fixed;
    opacity: 0;
    bottom: 30%;
    right: 10%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  
  .animate-attack {
    left: 60%;
    top: 50%;
  }
  
  .attack-enemy {
    position: fixed;
    opacity: 0;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
  
  .animate-attack-enemy {
    left: 40%;
    top: 50%;
  }
  
  .final-box {
    position: absolute;
    border: 2px solid #fff;
    background: linear-gradient(to bottom, #070B43, #0A4AA9);
    color: #FFFFFF;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
    font-family: 'cpm';
    font-size: 24px;
  }
  
  .final-box-chars-info {
    left: 0px;
    bottom: 2px;
    width: 310px;
    height: 160px;
    z-index: 2;
  }
  
  .final-box-menuone-info {
    left: 120px;
    bottom: -12px;
    width: 210px;
    height: 160px;
    z-index: 9999;
    opacity: 1;
  }
  
  .final-box-menutwo-info {
    left: 240px;
    bottom: -12px;
    width: 210px;
    height: 160px;
    z-index: 9999;
    opacity: 1;
  }
  
  .final-box-stats-info {
    right: 0px;
    bottom: 0px;
    width: 480px;
    height: 160px;
    z-index: 2;
  }
  
  /* Estilo personalizado para eliminar espacios entre filas */
  .custom-table {
    border-collapse: collapse;
    /* Colapsar los bordes de la tabla */
  }
  
  .custom-table th,
  .custom-table td {
    padding: 0px;
    /* Añadir relleno opcional para celdas */
    padding-left: 12px;
    font-size: 24px;
  }
  
  /* Style for the progress bar container */
  progress {
    width: 100%;
    height: 6px;
    border: 1px solid gray;
    border-radius: 0;
    overflow: hidden;
  }
  
  
  /* Style for the progress bar background */
  progress::-webkit-progress-bar {
    background-color: maroon;
  }
  
  /* Style for the pg class */
  .pg::-webkit-progress-value {
    background: linear-gradient(to right, #0A4AA9, #FFFFFF);
  }
  
  /* Style for the pm class */
  .pm::-webkit-progress-value {
    background: linear-gradient(to right, rgb(86, 239, 86), #FFFFFF);
  }
  
  /* Style for the time class */
  .time::-webkit-progress-value {
    background: linear-gradient(to right, rgb(255, 49, 22), #FFFFFF);
  }
  
  .header {
    color: gray;
    font-weight: bold;
    font-size: 22px;
  }
  
  .animated-text {
    animation: changeColor 1s infinite alternate;
    /* La animación dura 5 segundos, se repite infinitamente y alterna los estados */
  }
  
  @keyframes changeColor {
    0% {
      color: white;
      /* Estado inicial, color blanco */
    }
  
    50% {
      color: gray;
      /* Color gris a la mitad de la animación */
    }
  
    100% {
      color: white;
      /* Color blanco al final de la animación */
    }
  }
  
  
  
  .animate-hide {
    opacity: 0;
    transition: opacity 0.2s;
    /* Duración de la animación de 1 segundo */
  }
  
  .animate-show {
    opacity: 1;
    transition: opacity 2s;
    /* Duración de la animación de 1 segundo */
  }
  
  .animate-move-bottom {
    top: 0;
    /* Establece la posición inicial del elemento */
    transition: top 7s;
    /* Duración de la animación de 5 segundos */
  }
  
  .animate-move-bottom.animate {
    top: 20%;
    /* Nueva posición "abajo" del elemento */
  }
  
  .animate-move-top {
    top: 50%;
    /* Establece la posición inicial del elemento */
    transition: top 3s;
    /* Duración de la animación de 5 segundos */
  }
  
  .animate-move-top.animate {
    top: -50%;
    /* Nueva posición "abajo" del elemento */
  }
  
  .bahamut {
    position: fixed;
    width: 400px;
    top: -50%;
    left: 48%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }
  
  .explosion {
    position: fixed;
    width: 300px;
    top: 42%;
    left: 72%;
    transform: translate(-50%, -50%);
    z-index: 3;
  }