/** STYLES HISTORY **/

.history-cloud {
  position: fixed;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.history-sephirot {
  left: calc(50% - 100px - 145.5px);
  z-index: 2;
}

.history-aeris {
  left: calc(50% + 100px + 23.5px);
  z-index: 3;
}

.history-sephirot,
.history-aeris {
  position: fixed;
  top: 55%;
  transition: opacity 1s ease-in-out;
}

.dialog-box-history {
  background: var(--custom-radial-gradient--ff7);
  border: 5px solid;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 14px;
  opacity: 1;
  position: fixed;
  width: 730px;
  height: 150px;
  left: 2%;
  top: 2%;
  z-index: 10000;
  transition: opacity 1s ease-in-out;
}

.dialog-box-history:hover {
  cursor: pointer;
}






