/** HOME SCREEN **/

.home-logo {
    position: fixed;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.home-menu {
    position: fixed;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.version{
    position: fixed;
    bottom: 0%;
    left: 10%;
    font-size: 22px;
    transform: translate(-50%, -50%);
    z-index: 1;
}