.home-logo {
    position: fixed;
    top: 200px;
    left: 200px;
    z-index: 1;
    cursor: none;
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
}

.home-menu {
    position: fixed;
    top: 510px;
    left: 300px;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
}

.version{
    position: fixed;
    top: 560px;
    left: 680px;
    font-size: 14px;
    z-index: 1;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none; 
    -moz-user-select: none;
    -ms-user-select: none;
}



