#position img {
  display: visible;
  margin-left: auto;
  margin-right: auto;
  height: 20px;
  visibility: visible;
}

.dialog-box-info {
  background: var(--custom-radial-gradient--ff7);
  border: 5px solid;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 14px;
  opacity: 0;
  position: fixed;
  width: 760px;
  left: 22px;
  top: 12px;
  z-index: 1000;
  transition: opacity 0.5s ease-in-out;
}

.dialog-box-info.open {
  opacity: 1;
}

.background {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

.background:active,
.background:focus {
  outline: none;
}
