.final-box {
  position: absolute;
  border: 5px solid;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: var(--custom-radial-gradient--ff7);
  color: #ffffff;
  padding: 0px;
  margin: 0px;
  border-radius: 10px;
  font: bold 10px arial;
  font-size: 20px;
}

/**Box place screen**/

.final-box-place-info {
  right: 12px;
  width: 380px;
  height: 70px;
}

.info-text-place {
  font: bold 10px arial;
  font-size: 20px;
  margin-left: -200px;
  margin-top: 18px;
}

/**Box tmp**/

.final-box-time-info {
  right: 12px;
  width: 200px;
  height: 70px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5px;
}

.grid-item {
  font-size: 18px;
  margin-top: 12px;
  padding-top: 8px;
}


/**Box big**/

.final-box-big-info {
  left: 12px;
  width: 700px;
  height: 520px;
}

/**Box menu**/

.final-box-menu-info {
  right: 12px;
  width: 200px;
  height: 400px;
}

.grid-menu-item1,
.grid-menu-item2 {
  font-size: 20px;
  line-height: 32px;
  cursor: pointer;
  padding-left: 0px;
  margin-left: 0px;
  padding: 12px;
  color:white;
}

.href {
  font-size: 20px;
  line-height: 32px;
  cursor: pointer;
  font-weight: bold;
  padding-left: 0px;
  margin-left: 0px;
  padding: 12px;
  color:white;
}

.href:hover {
  color:white;
}

/**Box big contains**/

.tabla {
  margin: 20px;
}

table {
  width: 50%;
  border-collapse: separate;
  border-spacing: 0px 0px;
}

th,
td {
  padding: 0px;
  border: none;
  text-align: center;
  height: 0px;
}

/* Selectors */

.ff7-button {
  background-color: transparent;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  width: 150px;
  margin-top: 2px;
  outline: none; 
}

.ff7-selector option {
  background: var(--custom-radial-gradient--ff7);
  color: #fff;
}

.bottom-bar-label{
  font-size: 20px;
  width: 120px;
}


