:root {
  --custom-radial-gradient--ff7: -webkit-radial-gradient(-180px 0px, circle, #0053ad 100px, #001b85 350px, #000223);
}

@font-face {
  font-family: 'Reactor7';
  src: url('../fonts/Reactor7.otf') format('opentype');
}

.background {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  height: 600px;
  cursor:pointer;
  user-select: none;
  -webkit-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
   outline: none;
}

body {

  background-color: black;
  font: bold 10px;
  color:white;
}

p{
  font-family: 'Reactor7', arial;
}

div{
  font-family: 'Reactor7', arial;
}

span {
  font-family: 'Reactor7', arial;
  color:white;
}

button {
  font-family: 'Reactor7', arial;
}

a {
  color:white;
}


.app {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.background-image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}


.dialog-content{
  font: bold 14px;
  color:white;
}
