.controller-dialog {
    position: absolute;
    background-color: transparent;
    border: 0px solid #ccc;
    border-radius: 5px;
    padding: 2px;
  }
  
  .controller-image {
    width: 400px;
  }
  
  .button-up {
    position: absolute;
    background-color: transparent;
    color: transparent;
    top: 69px;
    left: 78px;
    width: 20px;
  }
  
  .button-down {
    position: absolute;
    background-color: transparent;
    color: transparent;
    top: 110px;
    left: 78px;
    width: 20px;
  }
  
  .button-left {
    position: absolute;
    background-color: transparent;
    color: transparent;
    top: 90px;
    left: 54px;
    width: 20px;
  }
  
  
  .button-right {
    position: absolute;
    background-color: transparent;
    color: transparent;
    top: 90px;
    left: 100px;
    width: 20px;
  }
  
  .button-select {
    position: absolute;
    background-color: transparent;
    color: transparent;
    top: 112px;
    left: 164px;
    width: 20px;
  }
  
  .button-start {
    position: absolute;
    background-color: transparent;
    color: transparent;
    top: 112px;
    left: 214px;
    width: 20px;
  }
  
  .button-circle {
    position: absolute;
    background-color: transparent;
    color: transparent;
    top: 90px;
    left: 331px;
    width: 30px;
  }
  
  .button-triangle {
    position: absolute;
    background-color: transparent;
    color: transparent;
    top: 59px;
    left: 297px;
    width: 30px;
  }
  
  /* Aplicar el cursor de mano cuando se pasa por encima de los botones */
  .button-up:hover,
  .button-down:hover,
  .button-left:hover,
  .button-right:hover,
  .button-select:hover,
  .button-start:hover,
  .button-circle:hover,
  .button-triangle:hover {
    cursor: pointer;
    /* Cambiar el cursor a una mano */
  }