.final-box {
    position: absolute;
    border: 5px solid;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: var(--custom-radial-gradient--ff7);
    color: #FFFFFF;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
    font: bold 10px; 
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .final-box span {
    align-self: flex-start;
    margin-top: 28px;
    margin-left: 48px;
  }
  
  .final-box-title-info {
    top: 2px;
    left: 0px;
    width: 795px;
    height: 86px;
  }
  
  .final-box-gil-info {
    top: 90px;
    right: 4px;
    width: 392px;
    height: 44px;
  }
  
  .final-box-gained-info {
    top: 90px;
    left: 0px;
    width: 400px;
    height: 44px;
  }
  
  .final-box-items-info {
    top: 138px;
    left: 0px;
    width: 795px;
    height: 460px;
  }
  
  table {
    width: 50%;
    border-collapse: separate;
    border-spacing: 0px 0px;
  }
  
  th,
  td {
    padding: 0px;
    padding-top: 4px;
    border: none;
    text-align: center;
    height: 0px;
  }

  .dialog-box-message{
    background: var(--custom-radial-gradient--ff7);
    border: 5px solid;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 14px;
    opacity: 0;
    position: fixed;
    width: 200px; 
    z-index: 10000;
    transition: opacity 0.5s ease-in-out;
    transform: translate(-50%, -50%);
  }